$red: #903;
$black: #444;
$white: #fff;
$main-font: Helvetica, Arial, sans-serif;
$main-background: #777;

body {
  font-family: $main-font;
}

h1 {
  color: $red;
  font: 32px/1 $main-font;
}

h2 {
  color: lighten($red, 10%);
  font: 28px/1 $main-font;
}
ol {
  list-style-type: circle;

}
header h1 {
  font-size: 40px;
  line-height: 80px;
  padding-left: 84px;
  background: transparent url(/images/logo.jpg) 0 0 no-repeat;
}

@mixin tabs ($background: blue, $color: yellow) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $background;
    overflow: hidden;
  }

  li {
    float: left
  }

  a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background: $background;
    color: $color;
    &:hover {
      background: darken($background, 20%)
    }

    &.current {
      background: lighten($black, 5%);
    }

  }
}


nav {
  @include tabs ($background: $black, $color: $white);
  font-weight: bold;

  #status {
    float: right;
    a {
      display: inline-block;

    }

  }
}

p {
  font: 13px/1.4 $main-font;
}

label {
  display: block;
}


.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: lighten($red, 60%);
  color: $red;
  border: 1px solid $red;
}

.main {
  max-width: 80%;
  margin: 10px auto;
  padding: 20px 30px;
  background: $main-background;

  h2 {
    padding: 5px;
    text-align: center;
    background: darken($main-background, 10%);
  }

  &::after {
    content: " ";
    display: block;
    clear: both;
  }
}
.left {
  float: left;
  max-width: 15%;
}

#msgs-container {
  float: left;
  width: 80%;
  margin-left: 10px;

  #msgs {
    border: solid $black 5px;
  }

  ol {
    padding-left: 20px;

    li {
      margin-top: 10px;
    }
  }

  form{

    padding: 15px;
    textarea {
      width: 100%;
      border: none;
      resize: none;
      border-radius: 5px;
    }

    input[type="submit"] {
      border: none;
      padding: 5px 10px;
      border-radius: 10px;
    }
  }
}

#file-container {
  clear:both;
}
